sudo: required
dist: focal
language: python

python: 3.7

install:
    # install current version of inkscape
    - sudo add-apt-repository -y ppa:inkscape.dev/stable
    - sudo apt-get update -q
    # curl for download, dbus-x11 fixes a lot of warnings from inkscape that
    # cluttered the log
    - sudo apt-get install inkscape curl dbus-x11 -y
    - inkscape --version
    # install minimal version of TeX Live via automatic installation script
    - pip install https://github.com/MaxNoe/texlive-batch-installation/archive/master.tar.gz
    - install_texlive -t 2020 -s d -i 'standalone,luaotfload,xcolor,pgf,graphicx,fontspec,xifthen,tools,ifmtarg' -p $HOME/.local/texlive -v
    - export PATH="$HOME/.local/texlive/2020/bin/x86_64-linux:$PATH"
    # install montserrat font
    - curl -Lo $HOME/montserrat.zip https://fonts.google.com/download?family=Montserrat
    - mkdir -p $HOME/.local/share/fonts
    - unzip -d $HOME/.local/share/fonts $HOME/montserrat.zip
    - fc-cache
    - fc-list 'Montserrat'
    - luaotfload-tool --update --force

script:
  - dbus-run-session python create_logos.py
  - zip -r ./s4f_all_logos.zip ./s4f_all_logos -x '*.zip'
  - mv s4f_all_logos.zip s4f_all_logos


deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: nYk4J043DL7idGLcR1gYZqB+36HPLcoqnTL2LDQ4bWDGWBxCYjg32MHRMcX8ltU+0SRxp0rmkid2lwnYKiCRpEnmmcfAtiAAct4adyKVyCmTjvXoPy+/8yXw5bjp2iKoXFbPVw6mCaoaQrwVB4HrlO9uqMOunh3o6tF1braEyipbAS10yH82lS0zbPxW7NUiSSVuUksqBak+JDOPx6QIo2nDZiVboTfqsHOdkG284qbCjMHIv+MkDfirF9RyRRAO/QP6dCt7ZR0WkDAvxw2BgblS+RtWMBtRuUtcw6MqO4Mqf3DOdFc0vPwvhUHZdgJDJvE2Kws/cKPSEVVY7/Fxtlf22KoR/srKypPSxfy1vB9WRznwG86OSZvZXifdj6y4yWenlhGBab0Kgc53DH3boqpy5EsWB/jlxFLNoHK4qeuU1qb7ZWfB2ubCXFMYsZJro3KWDGqXcJpWCNrIux+/RZoKdwJ5z+1/PGJRsTtJfgjtjAZnE9zY5qCdSQCQf9QTkRvadJyiblMwTbYTuvqIS5cAAywUNqkRJV6sRw33H3J7iPXh5HsCgAZ/lbVU85i0S4vUZxAZ0bGwI1Ryl74iaEYqDTDl82WWS8na7EnLFcPTY/tVMdoSlnPUtTZ2njNyyegI5/YX7dq+hkSh7np6UtuQFxPcCoONKrLnZHg9Mc4=
  file_glob: true
  file: s4f_all_logos/*.zip
  on:
    repo: s4f-dortmund/regionalgruppen_logos
    tags: true
